body {
  background-image: url('../img/background.jpg');
}

div.wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
}

#navbar li {
  border-left: 10px solid #666;
  border-bottom: 1px solid #666;
}

#navbar a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #949494;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  border-left: 5px solid #33adff;
  display: block;
}

#navbar a:hover {
  background-color: #666;
  border-left: 5px solid #3333ff;
}

img.board {
  width: 900px;
}

.board_wrapper {
  position: relative;
}

div.board_field {
  position: absolute;
  width: 85%;
  padding: 35px 75px;
}

p.rules_text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 1px #595959;
  text-decoration: none;
  line-height: 1.4em;
}

.board_field h1,
h3 {
  color: white;
}

span.example_number {
  font-size: large;
  font-weight: bold;
  color: #33adff;
}

.study_text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 1px #595959;
  text-decoration: none;
  line-height: 1.4em;
}

table.best_results {
  margin: 0 30%;
  padding: 60px 70px;
  position: absolute;
  width: 40%;
  font-size: large;
  font-weight: bold;
  color: #33adff;
}

.numbers {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 15%;
  top: 60%;
}

.math_sign {
  top: 75%;
  left: 25%;
}

.symbol {
  cursor: grab;
  height: 80px;
}

.board_field div {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 25px;
  padding-top: 20px;
  width: 90%;
  height: 100px;
  border: solid 2px #33adff;
}

div.button {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 43%;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
}

div.button:hover {
  background: rgb(53, 167, 110);
}

div.button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}
